* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Flamenco';
    margin: 0;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}